streamlit
pandas
matplotlib
llama-index
sqlalchemy
openai
PyMuPDF
faiss-cpu
chromadb
llama-index-callbacks-arize-phoenix
llama-index-llms-openai
tools
python-docx
qdrant_client
fastembed
aiosqlite
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-embeddings-fastembed
llama-index-llms-sambanovasystems
sseclient-py
dotenv
streamlit
assemblyai
llama-index-embeddings-langchain
llama-index-llms-ollama
llama-index-embeddings-huggingface
qdrant-client
transformers
sentence-transformers
llama-index-utils-workflow
aiosqlite
llama-index-vector-stores-qdrant 
llama-index-readers-file 
llama-index-embeddings-fastembed 
llama-index-llms-openai